*{
    margin: 0;
}
header {
    background-color: #F55A5A;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    color: #ffff;
}

header img {
    width: 24px;
    margin-right: 10px;
}

header h1 {
    font-size: 0.9rem;
    font-weight: 500;
    font-family: Inter;
}